# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings





DATABASE_URL="postgresql://neondb_owner:npg_eSh2R7luWPtU@ep-gentle-sunset-a86sqyq5-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"

PORT=5000

BETTER_AUTH_SECRET=Dq0aeUq4HArXYHqB4fx3G8m3moALYFgW
BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

# BETTER_AUTH_URL=https://client-medi-store-l2-b6-a4.vercel.app # Base URL of your app



FRONTEND_APP_URL=http://localhost:3000
# FRONTEND_APP_URL=https://client-medi-store-l2-b6-a4.vercel.app





APP_USER=niamotsharif@gmail.com
# APP_PASSWORD=kzeg bhuo ulti twnn
APP_PASSWORD=kzegbhuoul titwnn



GOOGLE_CLIENT_ID=1234567890-abcdef.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxx
